@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.h1 {
    color: #1f1d41;
    font-family: Roboto;
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 60px;
}

.bg {
    background-color: #86d2f2;
    height: 100vh;
    width: 100vw;

}

.bt-1 {
    background-color: #1f1d41;
    padding: 24px;
    width: 100px;
    height: 60px;
    color: #ffffff;
    border: 4px;
    border-radius: 8px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Roboto;
}

.bt-2 {
    background-color: #1f1d41;
    padding: 24px;
    width: 100px;
    height: 60px;
    color: #ffffff;
    border: 4px;
    border-radius: 8px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Roboto;
}

.bt-3 {
    background-color: #1f1d41;
    padding: 24px;
    width: 100px;
    height: 60px;
    color: #ffffff;
    border: 4px;
    border-radius: 8px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Roboto;
}

.traffic_light {
    background-color: #1f1d41;
    height: 440px;
    width: 170px;
    margin-right: 190px;
    border-radius: 60px;
}

.stop_light {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: #4b5069;
}

.ready_light {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: #4b5069;
}

.go_light {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: #4b5069;
}